nav ul{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
}
nav ul li{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav ul li a{
    color: white;
    text-decoration: none;
    display: inline-block;
    transition: 0.07s ease;
}
nav ul li a:hover{
    transform: scale(1.2);
}
.box{
    background-color: black;
    color: white;
    padding: 20px;
    box-shadow: 0px 20px 5px;
    border-radius: 10px;
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-variant:normal;
    text-shadow: gray 2px 2px 7px;
}





body.index{
    align-items: center;
    text-align: center;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
}
.index .funbox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 50px;
}
.index .box1{
    box-shadow: 2px 2px 2px;
    color: rgb(75,0,130);
    background-color: rgb(216,191,216);
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
}
.index .box2{
    box-shadow: 2px 2px 2px;
    color: rgb(139,0,0);
    background-color:rgb(240,128,128);
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
}
.index .box3{
    box-shadow: 2px 2px 2px;
    color: rgb(0,100,0);
    background-color:rgb(143,188,143);
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
}
.index .boxhistoria{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 50px;
}
.index .footerbox{
    background-color: black;
    width: stretch;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 5px;
    border-radius: 15px;
}
.index .begränsning{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%; 
    max-width: 900px; 
    margin: 0 auto; 
    box-sizing: border-box; 
    text-align: center; 
}


.separator{
    width: 90%; /* hur lång linjen ska vara */
    max-width: 1600px;
    height: 0; /* ingen höjd, vi använder border-top */
    margin: 28px auto; 
    border-top: 2px solid rgba(0,0,0,0.2); 
}
.index .textalign{
    text-align: start;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width:50%;
    text-align: center;
}
.index .stor{
    font-size: xx-large;
    font-weight:520;
}











/*Grundläggande matte*/
body.gmat{
    align-items: center;
    text-align: center;
    justify-content: center;
}
.gmat nav{
    
}
.gmat nav ul{
    
}
.gmat nav ul li{
    
}
.gmat nav ul li a{

}
.gmat .box1{
    box-shadow: 2px 2px 2px;
    color: white;
    background-color: black;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
    width: stretch;
}

.gmat .lila{
    color: rgb(75,0,130);
}
.gmat .green{
    color: rgb(34, 145, 89);
}
.gmat .box2{
    box-shadow: 2px 2px 2px;
    color: rgb(34, 145, 89);
    background-color:white;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
    width: stretch;
}
.gmat .box2gr{
    box-shadow: 2px 2px 2px;
    color:  rgb(75,0,130);
    background-color:white;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
    width: stretch;
}
.gmat .funbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 50px;
    width: stretch;
    font-weight: bold;
}
.gmat .begränsning{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%; 
    max-width: 1400px; 
    margin: 0 auto; 
    box-sizing: border-box; 
    text-align: center; 
}










/*Algebra*/
body.alg{
    align-items: center;
    text-align: center;
    justify-content: center;
}
.alg nav{
    
}
.alg nav ul{
   
}
.alg nav ul li{
}
.alg nav ul li a{

}
























/*Geometri*/
body.geo{
    align-items: center;
    text-align: center;
    justify-content: center;
}
.geo nav{
    
}
.geo nav ul{
    
}
.geo nav ul li{
}
.geo nav ul li a{

}






















/*S&S*/
body.sos{
    align-items: center;
    text-align: center;
    justify-content: center;
}
.sos nav{
    
}
.sos nav ul{
    
}
.sos nav ul li{
}
.sos nav ul li a{

}

























/*OM SIDAN*/
body.omsidan{
    align-items: center;
    text-align: center;
    justify-content: center;
}
.omsidan nav{
    
}
.omsidan nav ul{
    
}
.omsidan nav ul li{
}
.omsidan nav ul li a{

}






















/*ÖVNINGAR*/
body.ovn{
    align-items: center;
    text-align: center;
    justify-content: center;
}
.ovn nav{
    
}
.ovn nav ul{
    
}
.ovn nav ul li{
}
.ovn nav ul li a{

}