body.index{
    align-items: center;
    text-align: center;
    justify-content: center;
}
nav{
    
}
nav ul{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
}
nav ul li{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav ul li a{
    color: white;
    text-decoration: none;
    display: inline-block;
    transition: 0.07s ease;
}
nav ul li a:hover{
    transform: scale(1.2);
}
.box{
    background-color: black;
    color: white;
    padding: 20px;
    box-shadow: 0px 20px 5px;
    border-radius: 10px;
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-variant:normal;
    text-shadow: gray 2px 2px 7px;
}










/*Grundläggande matte*/
body.gmat{
    align-items: center;
    text-align: center;
    justify-content: center;
}
.gmat nav{
    
}
.gmat nav ul{
    
}
.gmat nav ul li{
    
}
.gmat nav ul li a{

}










/*Algebra*/
body.alg{
    align-items: center;
    text-align: center;
    justify-content: center;
}
.alg nav{
    
}
.alg nav ul{
   
}
.alg nav ul li{
}
.alg nav ul li a{

}









/*Geometri*/
body.geo{
    align-items: center;
    text-align: center;
    justify-content: center;
}
.geo nav{
    
}
.geo nav ul{
    
}
.geo nav ul li{
}
.geo nav ul li a{

}










/*S&S*/
body.sos{
    align-items: center;
    text-align: center;
    justify-content: center;
}
.sos nav{
    
}
.sos nav ul{
    
}
.sos nav ul li{
}
.sos nav ul li a{

}









/*OM SIDAN*/
body.omsidan{
    align-items: center;
    text-align: center;
    justify-content: center;
}
.omsidan nav{
    
}
.omsidan nav ul{
    
}
.omsidan nav ul li{
}
.omsidan nav ul li a{

}







/*ÖVNINGAR*/
body.ovn{
    align-items: center;
    text-align: center;
    justify-content: center;
}
.ovn nav{
    
}
.ovn nav ul{
    
}
.ovn nav ul li{
}
.ovn nav ul li a{

}